<h3 class='user-name'>
	<%= user.escape('username') %>
</h3>

<div class='user-location'>
	Location: <%= user.escape('location') %>
</div>

<div class='user-bio'>
	Bio: <%= user.escape('bio') %>
</div>

<ul class='reviews'></ul>

<a href="#/">Back</a>