<form class='form'>
	<div class='form-group'>
		<textarea
			class='form-control'
			id='description'
			name='description'
			placeholder="Tell us about your experience!"></textarea>
	</div>
	<input type="submit" class='btn btn-success'></input>
	<a href='#' class='close close-lg'>&times;</a>
</form> 