<h4 class='review-name'>
	<img class='user-avatar-review-thumb' src='<%= user.get('avatar_thumb_url') %>'>
    <%= user.escape('username') %>
</h3>

<div class='review-user'>
	<%= review.escape('description') %>
</div>