<h3 class='review-name'>
	Review from <%= user.escape('username') %>
	<img class='user-avatar-review-thumb' src='<%= user.get('avatar_thumb_url') %>'>
</h3>

<div class='review-user'>
	Description: <%= review.escape('description') %>
</div>