<h3 class='review-name'>
	Review from <%= user.escape('username') %>
</h3>

<div class='review-user'>
	Description: <%= review.escape('description') %>
</div>

<div class='review-business'>
	Rating: <%= review.escape('num_stars') %>
</div>