<h3 class='review-name'>
	REVIEW
</h3>

<div class='review-user'>
	User: <%= review.escape('user_id') %>
</div>

<div class='review-business'>
	Business: <%= review.escape('business_id') %>
</div>

<a href="#/">Back</a>