<h1><span>Sign Up</span></h1>

<form action="/users" method="post" class="login">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input name="user[username]" type="text" placeholder="username"><br>
	<input name="user[password]" type="password" placeholder="password"><br>
	<input type="submit" value="Submit" class="btn btn-primary"><br>
</form>