<div class='row filter-calendar'>

	<input name='checkin' type='text' class='checkin ui-datepicker-target'>​
		
	<input name='checkout' type='text' class='checkout ui-datepicker-target'>
	
</div>

<div class="row filter-room-type">
	Room Type
</div>

<div class="row filter-price-range">
	Price Range
</div>