<form class='form' enctype="multipart/form-data">
	<div class='form-group'>
		<br>
		<input 
			type='text' 
			class='form-control' 
			id='name'
			name='name'
			placeholder="Title"
			autofocus='true'>
		<br>
		<input 
			type='text' 
			class='form-control' 
			id='location' 
			name='location'
			placeholder="Location">
		<br>
		<select class='form-control' id='category' name='category'>
            <option value='Mansion/Penthouse'>Mansion/Penthouse<option>
            <option value='Private Room'>Private Room<option>
            <option value='Shack/Hovel'>Shack/Hovel<option>  
        </select>
		<br>
		<input
        type="number"
			class='form-control'
			id='price_range'
			name='price_range'
			placeholder="How much per night?">
		<br>
		<textarea
			class='form-control'
			id='description'
			name='description'
			placeholder="Please describe your space."></textarea>
		<br>
		<input type="file" class="form-control" name="avatar" id="avatar">
		<br>
		
	</div>
	<input type="submit" class='btn btn-success'></input>
	<a href='#' class='close close-lg'>&times;</a>
	<br><br>
</form<>