/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body, html {
	height: 100%;
}
body {
  background-image: url('../logo.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
}

ul {
    list-style-type: none;
    padding-left: 40px;
    margin: 0px;
}

div#map-canvas {
	width:30%;
	position:absolute;
	top:0;
	bottom:0;
}
div#content {
	position:absolute;
	left:30%;
	overflow:auto;
	top:0;
	bottom:0;
	right:0;
	
}

div#main-content {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow:hidden;
}
