/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

body, html {
	height: 100%;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
}

.modal-content {
    z-index:2000;
}

.background-image-form {
    background: url(https://s3-us-west-1.amazonaws.com/gaberadovsky/images/SanFranciscoDusk.jpg);
    min-height: 1065px;
    min-width:1500px;
    overflow:hidden;
    background-repeat: no-repeat;
    z-index:1000;
    padding:50px;
    background-size: 100% auto;
    height:100%;
}

.underbar {
    background-color:rgba(0, 0, 0, 0.7);
    color:white;
    bottom:0;
    z-axis:1;
    position:absolute;
    width:100%;
}

.row-title {
    font-size:130%;
    padding-bottom:10px;
}

ul#businesses-list {
	padding-start: 0px;
	-moz-padding-start: 0px;
	-webkit-padding-start: 0px;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
	background-color: #efefef;
}

.businesses-item {
	padding: 4px;
}

.business-location {
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	padding-left: 15px;
	padding-bottom: 20px;
}

div.business-name {
	font-size: 135%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	padding-left: 15px;
	padding-top: 15px;
}

a.business-link {
    display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
	padding: 3px;
}

a.business-link:hover, a.business-link:active {
	text-decoration: none;
	color: black; 
}

div#map-canvas {
	width:40%;
	position:absolute;
	top:50px;
	bottom:0;
}

.avatar {
	min-width:100%;
	max-width: 100%;
	max-height: 100%;
	box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.3);
}

.pricetag {
    font-size:160%;
    color:white;
    bottom: 32%;
    z-index:1000;
    position:absolute;
    background-color: rgba(50,50,50,0.8);
    padding:7px;
}

div#content {
	position:absolute;
	left:40%;
	overflow:auto;
	top:50px;
	bottom:0;
	right:0;
	max-width:60%;
	min-width:60%;
	box-shadow: 2px -2px 3px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px -2px 3px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px -2px 3px 5px rgba(0,0,0,0.3);
	padding:0;
}

.navbar-default .navbar-nav > .active > a {
	background-color:white;
	border:none;
}

a.navbar-brand {
	font-weight:600;
}

.navbar {
	background-color:white;
	border:none;
	font-family: avenir;
    padding-right:30px
}

.navbar-over-map {
	position:absolute;
	bottom:0;
	height:100%;
	width:40%;
	box-shadow: -1.5px 4px 3px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: -1.5px 4px 3px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: -1.5px 4px 3px -1px rgba(0,0,0,0.3);
	z-index: -1;
}

div#main-content {
	bottom: 0;
	left: 0;
	right: 0;
	overflow:hidden;
}

.filter-calendar, .filter-room-type {
	border-bottom: thin solid rgba(0,0,0,0.1);
	width: 98%;
	margin: auto;
    padding:20px;
}

.filter-price-range {
	width: 98%;
	margin: auto;
    padding:20px;
}

.ui-slider {
    width:50%;
    left:25%;
}

input#amount {
    width:85px;
}

.calendar-left, .calendar-right, select.guests {
//	margin: auto;
}

select.guests {
	left: 50%;
	background-color:white;
	color: rgba(0,0,0,0.7);
}

div.filter {
	min-height: 80px;
	text-align: center;
}

div.filter-title {
	left: 0;
	width: 25%;
	vertical-align:middle;
}

.room-form {
	margin: auto;
}

.show-info {
    display: inline-block;
    float:left;
    padding-left:15px;
}

.reserve-button {
    float:right;
    padding:15px;
}

.homepage {
    overflow: hidden;
}

.business-avatar-show {
    padding-left: 15px;
    padding-right:15px;
}

#new-listing-button {
    border:5px;
}

#current-user-navbar-photo {
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    padding-top: 5px;
}