/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body, html {
	height: 100%;
	font-family: avenir;
}

ul {
    list-style-type: none;
    padding-left: 40px;
    margin: 0px;
}

div#map-canvas {
	width:40%;
	position:absolute;
	top:0;
	bottom:0;
}

.businesses-item {
	min-height:200px;
	//min-width:350px;
}

div#content {
	position:absolute;
	left:40%;
	overflow:auto;
	top:0;
	bottom:0;
	right:0;
	max-width:60%;
	min-width:60%;
	box-shadow: 2px -2px 3px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px -2px 3px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px -2px 3px 5px rgba(0,0,0,0.3);
}

.navbar-default .navbar-nav > .active > a {
	background-color:white;
	border:none;
}

.navbar {
	background-color:white;
	border:none;
}

.navbar-over-map {
	position:absolute;
	bottom:0;
	height:100%;
	width:40%;
	box-shadow: -1.5px 4px 3px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: -1.5px 4px 3px -1px rgba(0,0,0,0.3);
	-moz-box-shadow: -1.5px 4px 3px -1px rgba(0,0,0,0.3);
}

div#main-content {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow:hidden;
}

.filter-calendar, .filter-price-range, .filter-room-type {
	border-bottom: thin solid rgba(0,0,0,0.1);
	width: 98%;
	margin: auto;
}